@model StoreFront.DATA.EF.Models.Customer

@{
    ViewData["Title"] = "Delete";
}

<div class="container m-5">
<h1>@ViewData["Title"]</h1>
<br />

<h3 class="text-danger">Do you wish to permanently delete this customer?</h3>
<div>
    <br />
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCountry)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Customers</a>
    </form>
</div>
</div>